
@font-face {
      font-family: 'caviar_dreamsregular';
      src: url(CaviarDreams-webfont.ttf) format('truetype');
}


body
{
	font-family:'roboto',sans-serif;
	color:white;
	width:100%;
	margin:auto;
}

h1
{
	font-family:"caviar_dreamsregular";
}

.bandeau
{
	display:block;
	position:absolute;
	background-color: black;
	top:1px;
	height:189px;
	width:100%; 
	opacity:0.6;

}

#logo
{
	display:block;
	position:absolute;
	top:75px;
	left:350px;

}

#menup
{
	
	display:block;
	flex-direction: row-reverse;
	justify-content: space-around;
	cursor: pointer;
	position:absolute;
	top:78px;
	right:360px;

	
}
nav
{
	display:inline-block;
	justify-content:space-around;
	align-items:center;
	font-size: 15px;
	font-weight: 600;
	margin-left:33px;
	cursor:pointer;
	
}

#intro1{
	font-size: 2.5em;
	display:block;
	position: absolute;
	justify-content: center;
	top:400px;
	left:585px;
	background-color:rgba(66,76,84);
	margin-top:5px;
	line-height: 1.1;
	
}
#intro2{
	font-size: 2.5em; 
	display:block;
	position: absolute;
	justify-content: center;
	top:470px;
	left:430px;
	background-color:rgba(66,76,84);
}

.john
{
	background-image: url("backgroundphoto.png") fixed no-repeat;width:100%;
	justify-content:center;
	
}

.contact
{
	background-image: url("contact.png") fixed no-repeat;
	justify-content:center;
}

.servicestxt
{
	background-color:rgba(75,202,255);
}

.twitter
{
	background-color:rgba(75,202,255);
}

.bouton
{
	background-color:rgba(75,202,255);
	width: 10%;
	padding: 1%;
	text-align: center;
	color:white;
}

footer
{
	background-color: rgba(53,63,71);
}

.txtvideo
{
	background-color: rgba(81,95,103);
}
#imgbackground{
	width: 100%;
}


