
@font-face {
      font-family: 'caviar_dreamsregular';
      src: url(CaviarDreams-webfont.ttf) format('truetype');
}


body
{
	font-family:'roboto',sans-serif;
	color:white;
	width:100%;
	margin:auto;
}

h1
{
	padding-left:350px;
	font-family:"caviar_dreamsregular";
}

.bandeau
{
	display:block;
	position:absolute;
	background-color: black;
	top:1px;
	height:189px;
	width:100%; 
	opacity:0.6;

}

#logo
{
	display:block;
	position:absolute;
	top:75px;
	left:350px;
}

a
{
color:white;
text-decoration:none;
}

#menup
{
	
	display:block;
	flex-direction: row-reverse;
	justify-content: space-around;
	cursor: pointer;
	position:absolute;
	top:78px;
	right:360px;

	
}
nav
{
	display:inline-block;
	justify-content:space-around;
	align-items:center;
	font-size: 15px;
	font-weight: 600;
	margin-left:33px;
	cursor:pointer;
	
}

#intro1{
	font-size: 2.5em;
	display:block;
	position: absolute;
	justify-content: center;
	top:400px;
	left:585px;
	background-color:rgba(66,76,84);
	margin-top:5px;
	line-height: 1.1;
	
}
#intro2{
	font-size: 2.5em; 
	display:block;
	position: absolute;
	justify-content: center;
	top:470px;
	left:430px;
	background-color:rgba(66,76,84);
}



}
.john
{
	background-image: url("backgroundphoto.png") fixed no-repeat;width:100%;
	justify-content:center;
	
}

.contact
{
	background-image: url("contact.png") fixed no-repeat;
	
}

.servicestxt
{

	background-color:rgba(75,202,255);

	position:relative;

	
}
#blocvidegauche{
	width:20%;
	display: inline-block;
	position:absolute;
	left:50px;
	margin-left: 3%;
	height: 5%;

}
.coffee{
	display:inline-block;
	justify-content: center;
	position:relative;
	left:300px;
	width: 13%;
	margin-left:3%;

}
.instant{
	display:inline-block;
	justify-content: center;
	position:relative;
	left:250px;
	width :13%;
	padding-left:100px;
}
.serious{

	display:inline-block;
	justify-content: center;
	position:relative;
	left:250px;
	width:13%;
	padding-left:100px;
}
.frame{
	display:inline-block;
	justify-content: center;
	position:relative;
	left:250px;
	width:13%;
	padding-left: 100px;
}
.blocvidedroite{
	width:20%;
	display: inline-block;
	position:absolute;
	right:50px;
	margin-left: 3%;
	height: 5%;}
#portfolio{
	color:black;
	display: inline-block;
	position:relative;
	justify-content: center;
	list-style-type: none
}
.twitter
{
	background-color:rgba(75,202,255);
	font-size: 1.5em;
	width:100%;
	position: absolute;
	display: inline-block;

}
.twitterlogo{
	right:250px;
	display: inline-block;
	position:absolute;
	top:40px;
}
.txttwitter{
	padding-left: 19%;
	position: relative;
	display:inline-block;
	width:65%;
}
.gras{
	font-weight:bold
}
.bouton
{
	background-color:rgba(75,202,255);
	width: 10%;
	padding: 1%;
	text-align: center;
	color:white;
}

footer
{
	background-color: rgba(53,63,71);
}

.allvideo
{
	background-color: rgba(81,95,103);
	padding-top: 1%
	padding-bottom:20%;

}
.txtvideo{
	padding-left: 19%;
	width:29%;
	display:block;
	bottom: :200px;
	

}
.video{
	padding-right:10%;
	padding-left: 10%;
	position: relative;
	display: block;
	justify-content: center;
	width:10%;
	top:-30px;
	margin:auto;

}
#imgbackground{
	width: 100%;
}
